.link-whatsapp-web {
    position: fixed;
    display: inline-block;
    right: 10px;
    bottom: 10px;

    height: 60px;
    width: 60px;

    background: url(https://imgur.com/2RhqZyw.png);
    background-size: contain;
    opacity: .7;

    z-index: 99;

    transition: opacity .5s 0s, visibility 0s .3s;
}

.link-whatsapp-web:hover {
    transform: scale(1.1);
    opacity: 1;
}

.text-hide {
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}